[submodule "spf13-vim"]
	path = spf13-vim
	url = https://github.com/spf13/spf13-vim.git
[submodule "modules/markdown2ctags"]
	path = modules/markdown2ctags
	url = https://github.com/jszakmeister/markdown2ctags.git
